/* changing styles of all components */
* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box !important ;
  /* transition: all 1s linear !important; */
}

/* styling root or variable declaration */
:root {
  --width-drawer: 0;
  --dark-color: #202020;
  --text-color: #353535;
  --back-color: #eee;
  --secondary-color: #b3b3b3;
  --secondary-dark-color: #838383;
}

/* ::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-dark-color);
} */

/* styling overall body */
body {
  display: grid;
  /* grid-template-columns: var(--width-drawer) calc(100% - var(--width-drawer)); */
  grid-template-rows: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--back-color);
}

.page-wrapper {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styling navigation bar */
#navbar {
  background-color: white;
  min-height: 4.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  position: sticky;
  top: 0px;
  position: relative;
  z-index: 3;
  box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.1);
}

.brand {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}
#navbar > .link-container {
  display: flex;
}

#navbar > .link-container > div {
  position: relative;
  display: flex;
  justify-content: center;
}

#navbar > .link-container .link-btn {
  text-transform: capitalize;
  color: #656565;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0.3em 1em;
  border-radius: 5px;
}
a {
  text-decoration: none;
}

#navbar > .link-container .link-btn:hover {
  color: #262626;
}

/* #navbar > .link-container > div > .link-btn + .drop-down {
  position: absolute;
  top: 0;
  min-width: max-content;
  pointer-events: none;
  transition: all 0.6s ease-in-out;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
  opacity: 0;
  padding: 1em 1em;
  display: grid;
  row-gap: 0.5em;
  justify-items: center;
} */

.drop-down {
  position: absolute;
  top: 0;
  min-width: max-content;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.2);
  opacity: 0;
  padding: 1em 1em;
  display: grid;
  row-gap: 0.5em;
  justify-items: center;
}
.active {
  transform: translateY(2.5em) !important;
  width: auto !important;
  opacity: 1 !important;
  pointer-events: all !important;
}

.drop-down a {
  display: block;
  width: 100%;
  min-width: 6em;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
}

.drop-down a:hover {
  background-color: #efefef;
}

#navbar span .link-loggout {
  display: inline-block;
  text-align: center;
  padding: 0.3em 0;
  border: 2px solid rgb(59, 109, 129);
  /* padding:0.3em 1.6em; */
  background-color: rgb(59, 109, 129);
  border-radius: 4px;
  color: white;
  width: 6em;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
#navbar span .link-loggout:first-child {
  margin-right: 0.5em;
}
#navbar span .link-loggout:hover {
  background-color: inherit;
  color: rgb(59, 109, 129);
}

#menu {
  cursor: pointer;
  display: none;
}

/* Styling drawer component */
#drawer {
  display: none;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  overflow-x: hidden;
  height: 100%;
  z-index: 4;
  overflow-y: scroll;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  width: var(--width-drawer);
  transition: width 0.88s ease-in;
  grid-auto-rows: 3.8em;
  row-gap: 0.2em;
  padding: 0.5em 0;
}

#drop-down2,
#drop-down1 {
  height: 0;
  overflow: hidden;
  transition: all 0.6s linear;
}

#drawer a {
  display: flex;
  align-items: center;
  padding: 0 1em;
  margin: 0.2em 0;
  margin-left: 0;

  width: 14em;
  text-decoration: none;
  transition: all 0.5s linear;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  background-color: #f0f0f0;
  border-radius: 0 28px 28px 0;
  text-transform: capitalize;
  /* border-bottom: 2px solid rgba(201, 201, 201, 0.7); */
}

.active-link,
#drawer a:hover {
  box-shadow: 2px 2px 5px rgba(216, 216, 216, 0.7) !important;
  background-color: #d2d2d2 !important;
}

.section {
  display: grid;
  grid-template-rows: 4.5em calc(100% - 4.5em);
}

.slider-menu {
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  padding: 0 1em;
  justify-content: flex-end;
}

.main {
  min-height: 90vh;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  overflow-y: scroll;
}

#menu-close {
  border: 1.5px solid rgb(41, 41, 41);
  padding: 2px;
  border-radius: 5px;
}

/* Styling footer of site */

footer {
  padding: 3em 0;
  width: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* margin-top: 1em; */
  z-index: 3;
}

.icon-container {
  justify-content: center;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

@media screen and (max-width: 950px) {
  :root {
    --width-drawer: 0em;
  }

  #menu {
    display: inline-block;
  }
  .link-container {
    display: none !important;
  }

  #navbar .link-loggout {
    display: none;
  }

  #drawer {
    display: grid;
  }


  #navbar > span:last-child{

    border:2px solid green;
    display:none !important;
  }
}
